<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
  <connectionStrings>
    
    <add name="CE_INTRANETConnectionString" connectionString="Data Source=CELUBDBS02;Initial Catalog=PROJECT_MANAGEMENT;Persist Security Info=True;User ID=sa;Password=591@Dmin.123" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PMT.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
	  <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
	  </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: b010a885-344d-4335-bc43-82beb4d69d7f-->