@model Tache
@{
    ViewData["Title"] = "Nouvelle";
}

<div class="col-xl-8" style="margin:auto">

    <div class="card">
        <div class="card-body pt-3">

            <!-- Profile Edit Form -->
            <form asp-action="Create" method="post" novalidate>
                <div class="text-center">
                    <h4>Nouvelle Tâche</h4>
                    <div class="pt-2">
                        <a asp-action="IndexTache" class="btn btn-outline-primary btn-xs"><i class="fa fa-reply"></i></a>
                    </div>
                </div>
                <br />
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Nom de la tâche</label>
                    <div class="col-md-8 col-lg-9">
                        <input asp-for="Nom" type="text" class="form-control" id="company" required>
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Description</label>
                    <div class="col-md-8 col-lg-9">
                        <textarea asp-for="Description" class="form-control" id="about" required style="height: 100px">...</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Responsable</label>
                    <div class="col-md-8 col-lg-9">
                        <select asp-for="ResponsableTache" asp-items="ViewBag.Responsable" class="form-control" aria-label="Default select example" required>
                            <option value="">Selectionner le responsable</option>
                        </select>
                        <span asp-validation-for="ResponsableTache" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Progression</label>
                    <div class="col-md-8 col-lg-9">
                        <select asp-for="Progression" class="form-control" aria-label="Default select example" required>
                            <option value="0">0%</option>
                            <option value="25">25%</option>
                            <option value="50">50%</option>
                            <option value="75">75%</option>
                            <option value="100">100%</option>
                        </select>
                        <span asp-validation-for="Progression" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Type</label>
                    <div class="col-md-8 col-lg-9">
                        <select asp-for="Type" asp-items="ViewBag.Types" class="form-control" aria-label="Default select example" required>
                            <option value="">Selectionner un type</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Date début</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="date" class="form-control" asp-for="Date_Debut" required>
                        <span asp-validation-for="Date_Debut" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Date fin</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="date" class="form-control" asp-for="Date_Fin" required>
                        <span asp-validation-for="Date_Fin" class="text-danger"></span>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success rounded-pill">Enregistrer</button>
                    <button type="reset" class="btn btn-warning rounded-pill">Recommencer</button>
                </div>
            </form><!-- End Profile Edit Form -->


        </div>
    </div>
    
</div>